* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #444343;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

* {
    color: #fff;
    font-weight: 100;
}


/* HEADER */

.header {
    width: 1200px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.header_item {
    max-width: 100%;
    background-color: #0f1010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border-radius: 0px;
}

.header_logo {}

.header_name {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.header_nav {}

.header_ul {
    display: flex;
}

.header_li {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header_li a {
    padding: 10px 20px;
}

.header_li a:hover {
    background-color: #f4791f;
    transition: 0.2s linear;
    border-radius: 30px;
}


/* CONTEINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background: linear-gradient(to right, #f4791f, #659999);
}


/* ABOUT_ME  */

.about-me {}

.container {}

.about-me_item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
}

.about-me_block-1 {
    display: flex;
    justify-content: space-between;
}

.about-me_text {
    max-width: 65%;
    display: flex;
    align-items: center;
}

.about-me_h1 {
    font-size: 7rem;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-me_photo {
    max-width: 30%;
}

.about-me_img {
    width: 100%;
    border-radius: 5px;
}

.about-me_block-2 {
    padding-top: 50px;
}

.about-me_btn {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 125px;
}

.about-me_btn-a {
    display: flex;
    align-items: center;
    background-color: #0f1010;
    padding: 20px 25px;
    border-radius: 50px;
}

.about-me_btn-a:hover {
    outline: #0f1010 1px solid;
    background: #f4791f;
    /* background-color: #659999; */
    transition: 0.2s linear;
}

.about-me_icon-btn {
    width: 45px;
    margin-right: 15px;
}

.about-me_btn-p {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 35px;
}

.line {}


/* PROJECTS */

.projects_title {
    max-width: 1200px;
    /* margin-top: 50px; */
    text-align: center;
    background-color: #0f1010;
    padding: 20px 0;
    margin: 0 auto;
    /* border-radius: 50px; */
}

.projects_title-h2 {
    font-size: 50px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: italic;
}

.container {}

.projects_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 4%;
    row-gap: 75px;
    padding-top: 100px;
    margin-bottom: 125px;
}

.projects_block {
    display: flex;
    flex-wrap: wrap;
    max-width: 48%;
    /* margin-bottom: 50px; */
    /* background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); */
    /* background-color: #0f1010; */
}

.projects_block-1 {
    display: flex;
}

.projecs_image {
    max-width: 55%;
}

.projects_img {
    max-width: 100%;
}

.projects_text {
    max-width: 45%;
}

.projects_h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

.projects_p {
    color: black;
    font-size: 15px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
    font-style: italic;
}

.projects_block-2 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 25px;
}

.projects_btn {
    display: flex;
}

.projects_btn-a {
    display: flex;
    align-items: center;
}

.projects_icon-btn {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

.projects_btn-1 {
    background-color: #0f1010;
    padding: 15px 20px;
    border-radius: 50px;
    margin-right: 30px;
    margin-left: 5px;
}

.projects_btn-2 {
    background-color: #0f1010;
    padding: 15px 20px;
    border-radius: 50px;
}

.projects_btn-1:hover {
    outline: #0f1010 1px solid;
    background-color: #f4791f;
    transition: 0.2s linear;
}

.projects_btn-2:hover {
    outline: #0f1010 1px solid;
    background-color: #f4791f;
    transition: 0.2s linear;
}

.projects_btn-p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* HARD_SKILLS */

.hard-skills {}

.container {}

.hard-skills_title {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #0f1010;
    padding: 20px 0;
}

.hard-skulls_h2 {
    color: #fff;
    font-size: 55px;
    font-weight: 200;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hard-skills_item {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.hard-skills_block {
    max-width: 24%;
}

.hard-skills_block:nth-child(odd):hover {
    transition: 1s;
    transform: rotate(1turn);
}

.hard-skills_block:nth-child(even):hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.hard-skills_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/* FOOTER */

.footer {
    /* width: 1200px;
    margin: 0 auto;
    background-color: #0f1010; */
}

.footer p {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    font-size: 25px;
    color: #fcffff;
    text-align: center;
    background-color: #0f1010;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}