* {
    padding: 0;
    margin: 0;
    border: 0;
}


/*УБРАТЬ СКРОЛЛ*/


/*::-webkit-scrollbar {
   width: 0;
}*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #1c1f20;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

* {
    color: #fff;
    font-weight: 100;
}


/*КОНТЕНТ*/

.container {
    max-width: 100%;
    background-color: #1c1f20;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}


/*HEADER*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #0a0a0a;
}

.header_nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.name {
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.menu {
    font-size: 25px;
    font-weight: 600;
    padding: 25px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    text-transform: uppercase;
}

.menu:hover {
    background-color: rgb(13, 73, 185);
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%); */
    transition: 0.1s linear;
}


/*BLOCK ABOUT ME*/

.about_me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 130px 100px 0;
    margin-bottom: 100px;
}

.about_me_text {
    background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%);
    color: transparent;
    -webkit-background-clip: text;
}

h1 {
    font-size: 10em;
    color: #fff;
    font-weight: 600;
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%);
    color: transparent;
    -webkit-background-clip: text; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1:hover {
    /* color: #fff;
    transition: 0.1s linear; */
}

.about_me_image {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.about_me_photo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.about_me_btn {
    display: flex;
    margin-top: 50px;
}

.about_me_icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.btn_email {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #0a0a0a;
    border-radius: 5px;
}

.btn_cv {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #0a0a0a;
    border-radius: 5px;
}

.about_me_btn p {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn_email:hover {
    background-color: rgb(13, 73, 185);
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%); */
    transition: 0.1s;
}

.btn_cv:hover {
    background-color: rgb(13, 73, 185);
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%); */
    transition: 0.1s;
}

.liner {
    width: 97%;
    height: 1px;
    background-color: #0a0a0a;
    margin: 0 auto;
}


/* PROJECTS */

.projects {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.projects_text {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.project_tittle {
    display: flex;
    color: #fff;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
}

.projects_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 49%;
    margin-bottom: 20px;
    padding: 25px 50px;
    /* background-color: #0a0a0a; */
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(172, 164, 164, 0.1);
    /* border: 2px #12699b solid; */
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%); */
}

.block_1 {
    /* background-image: url(./img/digital_clock.jpg); */
    background-size: cover;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(235, 4, 4, 0.5); */
    /* background-size: contain; */
}

.projects_description {
    display: flex;
    justify-content: space-between;
}

.projects_tetx {
    /* padding-left: 150px; */
    /* text-align: center; */
    width: 50%;
    padding-left: 20px;
}

.projects h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15px;
}

.projects p {
    color: #fff;
    font-size: 15px;
    text-align: end;
    line-height: 1.5em;
    font-weight: 400;
    text-align: start;
}

.projects_img {
    max-width: 50%;
    margin-bottom: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.projects_btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projects_btn_1 {
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 5px;
}

.projects_btn_2 {
    /* top: 80%;
    left: 55%; */
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 5px;
    /* display: none; */
}

.projects_btn_1:hover {
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%); */
    /* background: none; */
    /* outline: 2px #0a0a0a solid; */
    background-color: rgb(13, 73, 185);
    transition: 0.1s linear;
}

.projects_btn_2:hover {
    /* background: linear-gradient(135deg, #7c1818 0%, #0e3846 70%);
    background: none;
    outline: 2px #0a0a0a solid; */
    background-color: rgb(13, 73, 185);
    transition: 0.1s linear;
}

.projects a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}


/*HARD SCILLS*/

.hard_skills {
    padding: 100px 100px 0;
    margin-bottom: 75px;
}

.hard_skills_text {
    text-align: center;
    margin-bottom: 50px;
}

.hard_skills_text p {
    color: #fff;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
}

.hard_skills_item {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.hard_skills_block {
    position: relative;
}

.hard_skills_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}


/*FOOTER*/

footer {
    margin: 20px 0;
    padding: 0 25px;
    color: #fff;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
}