* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #1c1f20;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

* {
    color: #fff;
    font-weight: 100;
}


/* HEADER */

.header {
    max-width: 1200px;
    margin: 0 auto;
}

.header_item {
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header_logo {}

.header_name {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.header_nav {}

.header_ul {
    display: flex;
}

.header_li {
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* CONTEINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: sandybrown; */
}


/* ABOUT_ME */

.about-me {}

.container {}

.about-me_item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.about-me_block-1 {
    display: flex;
    justify-content: space-between;
}

.about-me_text {
    max-width: 65%;
    display: flex;
    align-items: center;
}

.about-me_h1 {
    font-size: 7rem;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-me_photo {
    max-width: 30%;
}

.about-me_img {
    width: 100%;
    border-radius: 5px;
}

.about-me_block-2 {
    padding-top: 50px;
}

.about-me_btn {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.about-me_btn-a {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 20px 25px;
    border-radius: 5px;
}

.about-me_icon-btn {
    width: 45px;
    margin-right: 15px;
}

.about-me_btn-p {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #0a0a0a;
    pad: 50px;
}


/* PROJECTS */

.projects_title {
    padding-top: 50px;
}

.projects_title-h2 {
    font-size: 50px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 500;
}

.container {}

.projects_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 50px;
}

.projects_block {
    display: flex;
    flex-wrap: wrap;
    max-width: 49%;
    /* border: 2px #0a0a0a solid; */
    padding: 10px;
    border-radius: 5px;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects_block-1 {
    display: flex;
}

.projecs_image {
    max-width: 55%;
}

.projects_img {
    max-width: 100%;
}

.projects_text {
    max-width: 45%;
}

.projects_h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

.projects_p {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
}

.projects_block-2 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 25px;
}

.projects_btn {
    display: flex;
}

.projects_btn-a {
    display: flex;
    align-items: center;
}

.projects_icon-btn {
    max-width: 40px;
    max-height: 40px;
}

.projects_btn-1 {
    background-color: #0a0a0a;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 5px;
}

.projects_btn-2 {
    background-color: #0a0a0a;
    padding: 10px 15px;
    border-radius: 5px;
}

.projects_btn-p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}